<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
<nav>
    <ul>

        <li><a href="/post/posts">Posts</a></li>
        <li><a href="/post/createPost">New Post</a></li>
        <li><a href="/user/users">See Users List</a></li>
        <li><a href="/user/profile">GO to my profile</a></li>
        <li><a href="#" class="logout"> log Out</a></li>

    </ul>
</nav>

<h1>Users List</h1>
<article id="user-info">

</article>


<script src="/js/users/userListChecker.js"></script>
<script src="/js/users/users.js"></script>


</body>
</html>
